{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block head %}
	{{ super() }}
		<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(){	
			let btn = document.querySelector('input[type=submit]');
			btn.addEventListener('click', async function(event){
				event.preventDefault();		//Отменяет поведение кнопки по умолчанию
				let username = document.querySelector('input[name=username]').value;
				let password = document.querySelector('input[name=password]').value;
				let response = await fetch("/login", {  	//Await делает код неблокирующим
						method: "POST",
						headers: {'Content-Type': 'application/json'},
						body: `{"username": "${username}", "password": "${password}"}`
				});
				let response_json = await response.json();
				if (response_json.success){
					window.location.replace("/")
					//let body = document.querySelector('body');
					//body.style.backgroundColor = "white";
					//body.style.display = "block";
					//body.innerHTML = response_json.message;
				}
			})
		})
		</script>
{% endblock %}

{% block content %}
<div id="login_form">
	<div class="placeholder"></div>
	<form class="login" method="POST" action="/login">
		<input class="login" type="text" name="username">
		<input class="login" type="password" name="password">
		<input class="login" type = submit value='Войти'>
	</form>
	<div class="placeholder"><div>
</div>

{% endblock %}